.seen_container{
   background-color: #F5F5F5;
   padding: 50px 15px;
}
.seen_title{
   font-weight: 500;
   font-size: 40px;
   margin-bottom: 50px;
   text-align: center;

}
.seen_list{
   display: flex;
   gap: 48px;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}