.reviues{
   background-color: #F5F5F5;

}
.reviues__inner{
   display: flex;
   flex-direction: column;
   padding: 0 3px;
}
.reviues_title{
   font-weight: 500;
   font-size: 40px;
   text-align: center;
   margin-bottom: 48px;
}
.reviues_list{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   gap: 24px;
   margin-bottom: 50px;
   justify-content: center;
}
.reviues_item{
   display: flex;
   flex-direction: column;
   padding: 20px 9px;
   background-color: #fff;
}
.user_box{
   display: flex;
   gap: 10px;
   width: 100%;
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 16px;
}
.stars_box_big{
   display: flex;
   gap: 14px;
   align-items: center;
}
.stars_box_mini{
   display: flex;
   gap: 4px;
}
.stars_data{
   font-weight: 300;
   font-size: 16px;
   color: #B3B3B3;
}
.item_text{
   max-width: 360px;
   margin-top: 16px;
   margin-bottom: 16px;
   font-weight: 300;
}
.item_city{
   color:#B3B3B3 ;
   margin-left: auto;
}
.reviues_list_first{
   margin-bottom: 24px !important;
}
.swiper{
 display: none;  

}
.reviues_item_slider{
   min-height: 256px;
   max-width: 280px;
   margin-bottom: 50px;
}
.swiper_slide_box{
   max-width: 280px;

   /* color:red !important; */
}
.item_city_slider{
   margin-top: auto;
}
.mySwiper .swiper-pagination-bullet {
   background-color: #D9D9D9;
   opacity: 1;
}

/* Стили для активной точки */
.mySwiper .swiper-pagination-bullet-active {
   background-color: #555555;
   opacity: 1;
}
.swiper_box{
   display: none;
}
@media (max-width:1190px) {
   .reviues_list_second{
      display: none;
   }
}
@media (max-width:800px){
   .reviues_list_first{
      display: none;
   }
   .swiper_box{
      display: block;  

     }
}
